<?xml version='1.0' encoding='utf-8'?>
<widget id="app.janus" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Janus</name>
    <description>
        Janus organizer — Cordova browser PWA with runtime i18n.
    </description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <hook src="hooks/before_prepare/build_angular.js" type="before_prepare" />
</widget>
