<button
  #trigger
  type="button"
  class="language-selector__btn"
  (click)="onTriggerClick()"
  [attr.aria-expanded]="isOpen()"
  [attr.aria-haspopup]="true"
  [attr.aria-label]="i18n.translate('language') + ': ' + i18n.getLocaleLabel(i18n.getCurrentLocale())"
>
  {{ currentShortLabel() }}
</button>

@if (isOpen()) {
  <div class="language-selector__menu" role="menu" [style]="positionStyle()" (click)="$event.stopPropagation()">
    @for (locale of i18n.getSupportedLocales(); track $index; let i = $index) {
      <button
        type="button"
        class="language-selector__item"
        [class.language-selector__item--active]="i18n.getCurrentLocale() === locale"
        (click)="selectLocale(locale)"
        role="menuitem"
        [attr.aria-label]="i18n.getLocaleLabel(locale)"
        (keydown)="onMenuKeydown($event, i)"
      >
        {{ getShortLabel(locale) }}
      </button>
    }
  </div>
}
